/* layout */
.outer {
  margin-top: 50px;
}

.side {
  height: calc(100vh - 50px); /* 50是整个顶部的margin */
  position: sticky;
  top: 34px; /* 50 - 16，16是默认col都会加上的margin-top。不知道为什么sticky top 50的时候，即便这个col的margin-top强制设置成0了，还是会把这16的空留出来 */
  margin: 0 0 16px;
}

/* question */
#question-container::after, .answer-outer:not(:last-child):after {
  content: '';
  display: block;
  border: 1px solid #f5f5f5;
  margin: 1rem 0.25rem 1.5rem;
}

/* profile */
.avatar {
  max-width: 36px;
  max-height: 36px;
}
.profile-text {
  font-size: 14px;
}
.date {
  font-size: 10px;
}

/* answer & its propositions */
mark, .mark {
  padding-left: 0;
  padding-right: 0;
}


.content.truncate mark {
  background-color: unset !important;
  color: black !important;
  cursor: auto !important;
}
.content.truncate {
  pointer-events: none;
}

.content {
  position: relative;
}
.content.truncate::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5rem;
  background: linear-gradient(to top, #ffff, #fff0);
  z-index: 1;
}
.content.truncate.truncate-small::before {
  height: 2rem;
}
.content-collapse-button {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0;
  text-decoration: none;
}
.content:not(.truncate)~.content-collapse-button {
  position: sticky;
  bottom: 0;
  background: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}


/* statistics */
.statistics {
  margin: calc(.5rem + 1px) 0; /* match "similar answer" accordion's padding & border */
}
.statistics > .views {
  margin-right: .75ch;
}
.statistics > .views:empty::before, .statistics > .upvotes:empty::before {
  content: '0';
}



/* note pane + concept pane layout */
#note-pane-card > .card-body, #concept-pane-card > .card-body {
  overflow: auto;
  height: fit-content;
  width: 294;
  max-height: 35vh;
}
/* #note-pane-card > .card-body::-webkit-scrollbar,
#concept-pane-card > .card-body::-webkit-scrollbar {
  width: 12px;
}
#note-pane-card > .card-body::-webkit-scrollbar-thumb,
#concept-pane-card > .card-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(223, 223, 223);
} */
.gutter.gutter-vertical { /* Created by Split.js */
  cursor: row-resize;
  text-align: center;
  position: relative;
}
.gutter.gutter-vertical::after {
  display: inline-block;
  content: "";
  vertical-align: -.125em;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23333" class="bi bi-three-dots" viewBox="0 0 16 16"><path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/></svg>');
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  width: 1rem;
  height: 1rem;
}
.gutter.gutter-vertical::before {
  content: '';
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 0;
  right: 0;
  border-radius: .25rem;
  transition: background-color .3s;
}
.gutter.gutter-vertical:hover::before {
  background-color: rgba(216, 216, 216, 0.25);
}

/* Concept pane sub-concept modal */
#subConceptModal .proposition ~ input[type="checkbox"] {
  margin-left: 0.2rem;
  transform: scale(0.8);
  cursor: pointer;
}

.modal-subtitle {
  font-size: 12px;
}


/* back to top */
#back-to-top {
  position: fixed;
  bottom: 3rem;
  left: 3rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  text-align: center;
}
#back-to-top div {
  font-size: 20px;
  margin: -5px 0 -10px;
}
#back-to-top span {
  font-size: 12px;
}

/* common */
body.ctrl-down .proposition, body.ctrl-down .note > .content {
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23333" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/></svg>'), ew-resize;
}

.placeholder {
  color: rgb(185, 194, 204);
  margin: 1rem 0;
}

.truncate {
  overflow: hidden;
  max-height: 15rem;
  /* display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical; */
}
.truncate.truncate-large {
  max-height: 15rem;
  /* -webkit-line-clamp: 8;
  line-clamp: 8; */
}
.truncate.truncate-small {
  max-height: 5rem;
  /* -webkit-line-clamp: 3;
  line-clamp: 3; */
}

.blink {
  animation: anim-blink .5s linear 1s normal 2;
}
@keyframes anim-blink {
  20%, 80% {
    background-color: rgb(250, 206, 220);
  }
}

.premise:hover {
  cursor: pointer;
}

/* .premise .premise-detail {
  visibility: hidden;
  width: fit-content;
  background-color: rgb(185, 185, 185);
  color: rgb(0, 0, 0);
  text-align: left;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  font-size: small;
  font-weight: normal;
}

.premise .premise-detail::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(185, 185, 185) transparent;
  
}

.premise:hover .premise-detail {
  visibility: visible;
} */

/* question container and writing button */
#question-content-container {
  display: flex;
  justify-content: space-between;
}

/* claim center list items */
.claim-center{
  cursor: pointer;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  vertical-align: middle;
  padding: .5rem .5rem .5rem 1rem !important;
}


#rasa-chat-widget-container{
  position: sticky;
}

#rasa-chat-widget-container > div:first-child {
  height: 350px !important;
  width: 100% !important;
  border-style: solid !important;
  margin-bottom: 0px !important;
  /* font-size: 20px; */
}

/* percentage bar */


/* variables */
:root {
  /* colors */
  --po2-color-primary-hsl: 250, 84%, 54%;
  --po2-color-bg-hsl: 0, 0%, 100%;
  --po2-color-contrast-high-hsl: 230, 7%, 23%;
  --po2-color-contrast-higher-hsl: 230, 13%, 9%;
  --po2-color-accent-hsl: 342, 89%, 48%;
  --po2-color-contrast-low-hsl: 240, 4%, 65%;

  /* spacing */
  --po2-space-2xs: 0.375rem;
  --po2-space-xs: 0.5rem;
  --po2-space-md: 1.25rem;

  /* typography */
  --po2-text-sm: 0.833rem;
}

@media(min-width: 64rem){
  :root {
    /* spacing */
    --po2-space-2xs: 0.5625rem;
    --po2-space-xs: 0.75rem;
    --po2-space-md: 1rem;

    /* typography */
    --po2-text-sm: 1rem;
  }
}

/* component */
:root {
  --pct-bar-height: 10px;
  --pct-bar-radius: 50em;
  --pct-bar-gap: 3px;
  --pct-bar-legend-bullet-size: 10px;
}


.pct-bar__bullet {
  display: block;
  width: var(--pct-bar-legend-bullet-size);
  height: var(--pct-bar-legend-bullet-size);
  border-radius: 50%;
  flex-shrink: 0;
}

.pct-bar__bg {
  display: flex;
  height: var(--pct-bar-height);
  border-radius: var(--pct-bar-radius);
  overflow: hidden;
}

.pct-bar {
  position: relative;
}

#percentage-bar-container::before {
  content: "";
  position: absolute;
  top: 1.75em;
  bottom: 1.75em;
  left: 50%;
  border-left: 2px solid rgb(65, 65, 65);
}

.pct-bar__fill {
  height: 100%;
  margin-right: var(--pct-bar-gap);
}
.pct-bar__fill:first-child {
  border-radius: var(--pct-bar-radius) 0 0 var(--pct-bar-radius);
}
.pct-bar__fill:last-child {
  border-radius: 0 var(--pct-bar-radius) var(--pct-bar-radius) 0;
  margin-right: 0;
}

/* utility classes */
.po2-text-sm {
  font-size: var(--po2-text-sm);
}

.po2-margin-right-2xs {
  margin-right: var(--po2-space-2xs);
}

.po2-bg-accent {
  --po2-bg-o: 1;
  background-color: hsla(var(--po2-color-accent-hsl), var(--po2-bg-o, 1));
}

.po2-items-center {
  align-items: center;
}

.po2-flex {
  display: flex;
}

.po2-bg-contrast-higher {
  --po2-bg-o: 1;
  background-color: hsla(var(--po2-color-contrast-higher-hsl), var(--po2-bg-o, 1));
}

.po2-bg-contrast-low {
  --po2-bg-o: 1;
  background-color: hsla(var(--po2-color-contrast-low-hsl), var(--po2-bg-o, 1));
}

.po2-bg-primary {
  --po2-bg-o: 1;
  background-color: hsla(var(--po2-color-primary-hsl), var(--po2-bg-o, 1));
}

.po2-gap-xs {
  gap: var(--po2-space-xs);
}

.po2-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.po2-grid > * {
  min-width: 0;
  grid-column-end: span 12;
}

.po2-margin-bottom-md {
  margin-bottom: var(--po2-space-md);
  margin-top: var(--po2-space-md);
}

.pct-bar__fill:hover{
  cursor: pointer;
}

/* claim detail page */

.claim-detail:hover{
  cursor: pointer;
}


/* vertical line indicating 50% in nav-view */
.vertical-line {
  position: absolute;
  
  border-left: 2px solid rgb(65, 65, 65);
  height: 40px;
  left: 50%;
  top: 80px;
}
:root{
  --premiseColor: #b3d9aa;
  --positiveColor: #5185db;
  --neutralColor: #b7b7b7;
  --negativeColor: #dd6765;

}
/* stance text near percentage bar */

.positive{
  color: var(--positiveColor);
}
.negative{
  color: var(--negativeColor)
}
.neutral{
  color: var(--neutralColor)
}
.stance-content {
  padding-right: .5rem;
  border-right: 1px solid #dddd;
  flex: 1;
}
.stance-supportiveness {
  padding-left: .5rem;
  flex: 0 0 3.5ch;
  box-sizing: content-box;
  align-self: center;
  text-align: center;

}

/* styling for greying out the whole page */

#grayout {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 9999;
  display: none;
}

#final-words-container {
  position: fixed;
  top: 60%;
  left: 15%;
  height: auto;
  width: 70%;
  background-color: rgb(204, 204, 204);
  color: black;
  opacity: 1;
  z-index: 10000;
  /* border: 3px solid; */
  border-radius: 30px;
  display: none;

}

.final-text{
  margin: 20px;
}

#final-buttons-container{
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

#trophy-container{
  position: fixed;
  top: 15%;
  height: 90%;
  width: 80%;
  color: black;
  opacity: 1;
  z-index: 10000;
  left: 10%;
  /* border: 3px solid; */
  border-radius: 30px;
  display: none;
}
.trophy-img{
  height: auto; 
  width: auto; 
  max-width: 40%; 
  max-height: 40%;
  position: relative;
  left: 40%;
}